.square{
    border: 1px solid black;
    padding: 15px;
    display: table-cell;
}

.square:hover {
    background: lightgrey;
}

.row {
    display: table-row;
}

#board{
    display: table;
}
